In [1]:
import pandas as pd
import os
import tensorflow as tf
import tensorflow_hub as hub
import numpy as np

In [6]:
!find . -name ".DS_Store" -delete

In [23]:
def show_image(cur_dir):
    apparel_list = []
    df = pd.DataFrame(columns=["id","label"])
    data_directory = os.listdir("data/apparels")
    for image_directory in data_directory:
        for image in os.listdir("data/apparels/"+image_directory):
            apparel_list.append(["data/apparels/"+image_directory+"/"+image,image_directory])
    return apparel_list

In [25]:
apparel_list = show_image(os.listdir())
new_data = pd.DataFrame(data=apparel_list,columns=["image","label"])
new_data

                                                   image  label
0      data/apparels/Skirt/f4b934fc-e326-4f72-b535-53...  Skirt
1      data/apparels/Skirt/fdbcfdcd-5deb-4a20-9aef-b7...  Skirt
2      data/apparels/Skirt/ecfd00ef-2fe1-4778-a2a8-e9...  Skirt
3      data/apparels/Skirt/2ac96388-4353-44b6-a174-de...  Skirt
4      data/apparels/Skirt/bd289469-607c-45df-bad3-ed...  Skirt
...                                                  ...    ...
11682  data/apparels/Shirt/7be93c0fe39fd61ea0c5217ea9...  Shirt
11683  data/apparels/Shirt/45279e1f-82af-4fe3-b0ad-2b...  Shirt
11684  data/apparels/Shirt/aaeccde537821c284988d61777...  Shirt
11685  data/apparels/Shirt/ae9cec7a-dd1d-49bc-adae-64...  Shirt
11686  data/apparels/Shirt/0949e8e0-c807-4b6d-8453-80...  Shirt

[11687 rows x 2 columns]

In [26]:
new_data["label"].value_counts()

Pants         3481
Dress         2927
Shirt         2184
Shorts        1230
T-Shirt       1011
Longsleeve     699
Skirt          155
Name: label, dtype: int64

In [27]:
new_data.to_csv("data/image_labels.csv",index=False)